.item {
  width: 36px;
  height: 36px;
  border: solid 1px lightblue;
}

.grid-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;

  width: 620px;
}
.hover {
  background-color: aqua;
}
